
/*#create_list_btn{
	display: inline-block;
	height: 24px;
	width: 240px;
	background: #FFFFFF;
}*/

.todo_list{
	margin-top: 24px;
	margin-bottom: 24px;
}

.list_name_inputs{
	display: inline-block;
	height: auto;
	width: 240px;
	margin-right: 6px; 

	border-radius: 3px;
    border: #ccc 3px solid;
    border: none;
    padding: 0px 8px;

    font-size: 1.75rem;
}

.list_item_inputs{
	display: inline-block;
	height: auto;
	width: 202px;       /* 24 img, +4 +4 margins, -240 list_name_input, -border account for */
	margin-right: 6px; 

	border-radius: 3px;
    border: #ccc 3px solid;
    border: none;
    padding: 3px 8px;
}

.todo_icons{
	display: inline-block;
	height: 24px;
	margin-left: 4px;
	margin-right: 4px;
}

.todo_icons:hover{
	cursor: pointer;
	cursor: hand;
}



/* TO-DO LIST STYLES */

.todo-page {
	width: 100%;
    height: 100%;

	display: block;
    overflow-y: hidden;

	position: absolute;
	bottom: calc(-100vh + 200px);

    background-color: #f9f9f9;
    left: 0px;
    right: 0px;
    z-index: 10;

    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
	-webkit-transition: all 0.3s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
	-o-transition: all 0.3s ease-in-out;  /* Opera 10.50–12.00 */
	transition: all 0.3s ease-in-out;
}
.todo-page.show {
    overflow-y: auto;

	bottom: 0vh;

    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
	-webkit-transition: all 0.3s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
	-o-transition: all 0.3s ease-in-out;  /* Opera 10.50–12.00 */
	transition: all 0.3s ease-in-out;
}



.todo-page-nav {
	height: auto;
	display: flex;

	position: relative;

	z-index: 11;

	flex-direction: row;
	justify-content: space-between;
}

.todo-page-nav .btn {
	visibility: hidden;
	opacity: 0;

    font-size: 24px;
    z-index: 12;

	-webkit-transition: all 0.3s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
	-o-transition: all 0.3s ease-in-out;  /* Opera 10.50–12.00 */
	transition: all 0.3s ease-in-out;
}
.todo-page-nav.show .btn {
	visibility: visible;
	opacity: 1;

    z-index: 13;

	-webkit-transition: all 0.3s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
	-o-transition: all 0.3s ease-in-out;  /* Opera 10.50–12.00 */
	transition: all 0.3s ease-in-out;
}
.todo-page-nav .btn.space {
	flex: 1;
    z-index: 11;
}

#todo-open-button {
	width: 100%;
	position: absolute;
	top: 0;
    left: 0;
    right: 0;

	visibility: visible;
	opacity: 1;
    z-index: 13;

    transition: 0.3s;
}
#todo-open-button.todo-button-close-state {
	/*width: 50px;
	max-width: 50px;
	margin: 0 auto;*/

    z-index: 12;

	transform: rotate(180deg);

	transition: 0.3s;
}

.todo-page input[type=checkbox] {
	margin-right: 5px;
}

.form-group {
    margin-bottom: 6px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-group .form-group-space {
	flex: 1;
}

.todo_list {
	position: relative;
	padding-bottom: 35px;
}

.todo_list_elements {
    margin-bottom: 8px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.fa-1halfx {
    font-size: 1.5em;
}


.todo-add-task-button {
    margin-left: 4px;

	color: #9e9e9e;

	position: absolute;
	bottom: 0;
	left: 0;
}
.add-task-label {
    margin-left: 12px;
}


#timer-input .units {
	order: 3;
	width: 65px;
	max-width: 65px;
	margin-left: 8px;
	margin-bottom: 0px;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#timer-input .form-control {
    width: 70px;
}

#timer-input label {
	margin-bottom: 0px;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.list-item-row {
    margin-bottom: 6px;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}


