
/*#create_list_btn{
	display: inline-block;
	height: 24px;
	width: 240px;
	background: #FFFFFF;
}*/

.todo_list{
	margin-top: 24px;
	margin-bottom: 24px;
}

.list_name_inputs {
	height: auto;
	width: 240px;
	margin-right: 6px; 
    padding: 0px 8px;

	border-radius: 3px;
    border: #ccc 3px solid;
    border: none;
    background-color: #f3f3f3;

    font-size: 1.75rem;

	display: inline-block;
}
.list_item_inputs{
	height: auto;
	width: 202px;       /* 24 img, +4 +4 margins, -240 list_name_input, -border account for */
	margin: 0 6px; 
    padding: 3px 8px;

	display: inline-block;

	border-radius: 3px;
    border: #ccc 3px solid;
    border: none;
    background-color: #f3f3f3;
}
/* INPUT text STYLING */
.list_name_inputs::placeholder,
.list_item_inputs::placeholder {
	color: #ccc;
}
.list_name_inputs:hover,
.list_item_inputs:hover {
    background-color: #fcfcfc;

}
.list_item_inputs:focus, 
.list_item_inputs:active,
.list_name_inputs:focus, 
.list_name_inputs:active {
    background-color: #fff;
}


.todo_icons{
	display: inline-block;
	height: 24px;
	margin-left: 4px;
	margin-right: 4px;
}

.todo_icons:hover{
	cursor: pointer;
	cursor: hand;
}



/* TO-DO LIST STYLES */

.todo-page {
	
	width: 0%;
    height: 0%;

    background-color: none;
    border-radius: 10px;
    border: 2px solid #e2e2e2;

	display: block;
    overflow-y: hidden;

	position: absolute;
	bottom: calc(-100vh + 200px);
    left: 0px;
    right: 0px;
    z-index: 10;

    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
	-webkit-transition: all 0.3s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
	-o-transition: all 0.3s ease-in-out;  /* Opera 10.50–12.00 */
	transition: all 0.3s ease-in-out;
}
.todo-page.show {
	
	overflow-y: auto;
	bottom: 0vh;
	background-color: #f3f3f3;
	width:100%;
	height: 100%;

    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
	transform: translateY(0%);
	
	-webkit-transition: all 0.3s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
	-o-transition: all 0.3s ease-in-out;  /* Opera 10.50–12.00 */
	transition: all 0.3s ease-in-out;
}

.todo-page-nav {
	height: auto;
	display: flex;

	position: relative;

	z-index: 11;

	flex-direction: row;
	justify-content: space-between;
}

.todo-page-nav .btn {
	visibility: hidden;
	opacity: 0;

    font-size: 24px;
    z-index: 12;

	-webkit-transition: all 0.3s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
	-o-transition: all 0.3s ease-in-out;  /* Opera 10.50–12.00 */
	transition: all 0.3s ease-in-out;
}

.todo-page-nav.show .btn {
	visibility: visible;
	opacity: 1;

    z-index: 13;

	-webkit-transition: all 0.3s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
	-o-transition: all 0.3s ease-in-out;  /* Opera 10.50–12.00 */
	transition: all 0.3s ease-in-out;
}

.todo-page-nav .btn.space {
	flex: 1;
    z-index: 11;
}

#todo-open-button {
	top: 0;
    left: 0;
    right: 0;

	visibility: visible;
	opacity: 1;
    /*z-index: 13;*/

    transition: 0.3s;
}

#todo-open-button.todo-button-close-state {
	/*width: 50px;
	max-width: 50px;
	margin: 0 auto;

    z-index: 12;
*/
	transform: rotate(180deg);
	transition: 0.3s;
}

.todo-page input[type=checkbox] {
	margin-right: 5px;
}

/*
.todo-page input[type=text] {
	margin-right: 5px;
}
*/

.fa-circle.uncheck_item_img {
	color: #858796;

	transition: 0.3s;
}

.fas.fa-circle-check.check_item_img {
	color: medumspringgreen;

	transition: 0.3s;
}

.form-group {
    margin-bottom: 6px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-group .form-group-space {
	flex: 1;
}

.todo_list {
	position: relative;
	padding-bottom: 35px;
}

.todo_list_elements {
    margin-bottom: 8px;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.fa-1halfx {
    font-size: 1.5em;
}

/* EDIT THIS */
#todo-edit-button {
    line-height: 1.2;
    text-decoration: none;
    text-decoration-line: none;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

    background: none;
    color: #4e73df;

    transition: 0.15s;
}
#todo-edit-button.edit-on {
    background: #4e73df;
    color: #f3f3f3;

    transition: 0.15s;
}


.update_list_img,
.delete_list_img,
.update_list_item_img,
.delete_list_item_img {    
	opacity: 0;
	visibility: hidden;

	transition: 0.15s;
}
.update_list_img.show,
.delete_list_img.show,
.update_list_item_img.show,
.delete_list_item_img.show { 
	opacity: 1;
	visibility: visible;

	transition: 0.15s;
}

.todo-add-task-button {
    margin-left: 4px;

    color: #ccc;

	position: absolute;
	bottom: 0;
	left: 0;

	opacity: 1;
	visibility: visible;

	transition: 0.15s;
}
.todo-add-task-button.hide {
	opacity: 0;
	visibility: hidden;

	transition: 0.15s;
}
.todo-add-task-button:hover {
    color: #ddd;
}

.add-task-label {
    margin-left: 12px;
}


.list-item-row {
    margin-bottom: 6px;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
