#greeting-container {
    color: #ffffff;
    font-size: 300%;
    font-family: sans-serif;
}

.name-textbox {
    border-style: hidden;
    background-color: transparent;
    border-bottom: solid #ffffff 2px;
    white-space: pre;
    padding: 0px;
}