html {
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

footer.fixed-bottom {
  z-index: 1;
}

.main-page-nav {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.5em;
}

.main-page-nav span {
  margin-right: auto;
  color: #ffffff;
}

.main-page-nav span a {
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.main-page-nav span a:hover {
  color: #999999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#quote-container blockquote {
  background-color: transparent;
  font-size: 1.1em;
  color: #fcfcfc;
  text-align: center;
}

#clock-body {
  text-align: center;
  font-size: 2em;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  color: #ffffff;
}

#clock-buttons {
  text-align: center;
}

#timer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#timer-status {
  text-align: center;
  color: #ffffff;
}

.pie {
  width: 300px;
  height: 300px;
  display: block;
  position: relative;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  float: left;
  margin: 2em;
}

.pie .block {
  position: absolute;
  background-color: transparent;
  width: 280px;
  height: 280px;
  display: block;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

.pie .timer-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#greeting-container {
  color: #ffffff;
  font-size: 300%;
  font-family: sans-serif;
}

.name-textbox {
  border-style: hidden;
  background-color: transparent;
  border-bottom: solid #ffffff 2px;
  white-space: pre;
  padding: 0px;
}
