html {
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

#quote-container blockquote {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 23px;
}

#timer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#timer-status {
  text-align: center;
  color: #999999;
}

.pie {
  width: 300px;
  height: 300px;
  display: block;
  position: relative;
  border-radius: 50%;
  border: none;
  background-color: #fcfcfc;
  float: left;
  margin: 2em;
}

.pie .block {
  position: absolute;
  background: #fcfcfc;
  width: 280px;
  height: 280px;
  display: block;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

.pie .timer-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#clock-body {
  font-size: 2em;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  color: #999999;
}

.degree {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #1fbb39)), -webkit-gradient(linear, left top, right top, color-stop(50%, #1fbb39), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, transparent 50%, #1fbb39 50%), linear-gradient(90deg, #1fbb39 50%, transparent 50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#greeting-container {
  color: #ffffff;
  font-size: 300%;
  font-family: sans-serif;
}

.name-textbox {
  border-style: hidden;
  background-color: transparent;
  border-bottom: solid #ffffff 2px;
  white-space: pre;
  padding: 0px;
}
