

/* Bootstrap customizations */

.btn-link {
    font-weight: 400;
    color: #4e73df;
    text-decoration: none;
}

.btn-link:hover {
    color: #224abe;
    text-decoration: underline;
}

.btn-link:focus,
.btn-link.focus {
    text-decoration: underline;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-link:disabled,
.btn-link.disabled {
    color: #858796;
    pointer-events: none;
}

.btn-light{
    border-color: #999999;
}

.btn-light:hover{
    background-color: #1fbb39;
    border-color: #1fbb39;
}

/* Main page */
body {
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-size: cover;

    transition: 2s;
}

body:before {
    width: 100%;
    height: 100%;
    content: '';
    background-color: #333;
    opacity: 0.2;

    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.main-page-nav {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#settings-button {
    top: 0;
    right: 0;

    font-size: 24px;
    color: #fcfcfc;
}

#todo-open-button {
    top: 0;
    right: 0;

    font-size: 24px;
    color: #fcfcfc;
}

/* Settings page */
.settings-page {
    width: 100%;
    height: 100%;

    background-color: #f9f9f9;

    display: none;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    z-index: 10;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform, transform;
    -moz-transition-property: transform;
    transition-property: -ms-transform, -webkit-transform, transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}

.settings-page.show {
    display: block;

    transition: 0.3s;

    transition-duration: 0.3s;
    transition-property: -ms-transform, -webkit-transform, transform;
    transition-timing-function: ease-out;
}

.settings-page label {
    margin-right: 8px;
}

.settings-page input[type=number] {
    float: right;
}

.settings-page-nav {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#settings-back-button {
    /*margin: 10px 10px 0 0;*/
    top: 0;
    left: 0;

    font-size: 24px;
}

#timer-input .units {
    order: 3;
    width: 65px;
    max-width: 65px;
    margin-left: 8px;
    margin-bottom: 0px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#timer-input .form-control {
    width: 70px;
}

#timer-input label {
    margin-bottom: 0px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}