$timer-color: #1fbb39;


.bar {
    margin: 10px;
    height: 50px;
    width: 500px;
    background-color: $timer-color;
}


.pie {
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
    border-radius: 50%;
    background-color: $timer-color;
    border: 2px solid $timer-color;
    float: left;
    margin: 2em;

    .block {
        position: absolute;
        background: #fff;
        width: 280px;
        height: 280px;
        display: block;
        border-radius: 50%;
        top: 10px;
        left: 10px;
    }
}

#clock-body {
    font-size: 3em;
    position: absolute;
    top: 39%;
    left: 29%;
    color: lighten(#000, 60%);
}

.degree {
    background-image: linear-gradient(90deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}