<div class="todo_list">

	<div class="todo_list_elements">
		
		<div class="list_item_col"><input type="text" class="list_name_inputs h3 mb-2 text-gray-800" placeholder="Name your list"/></div>
		<div class="list_item_col"><img class="todo_icons update_list_img" src="../components/todo_app/images/edit.png"/></div>
		<div class="list_item_col"><img class="todo_icons delete_list_img" src="../components/todo_app/images/dustbin.png"/></div>


	</div>

	<div class=" add_list_item_img todo-add-task-button">
		<i class="fa fa-plus todo_icons"></i>
	</div>

</div>

