<div class="todo_list">

	<div class="todo_list_elements">
		
		<div class="list_item_col">
			<input type="text" class="list_name_inputs text-gray-800" placeholder="Name your list" disabled/>
		</div>
		<div class="list_item_col">
			<i class="fa fa-1halfx fa-pen todo_icons update_list_img"></i>
		</div>
		<div class="list_item_col">
			<i class="fa fa-1halfx fa-trash-alt todo_icons delete_list_img"></i>
		</div>

	</div>

	<div class=" add_list_item_img todo-add-task-button">
		<i class="fa fa-plus todo_icons"></i>
		<span class="add-task-label">Add Task</span>
	</div>

</div>
