$timer-color: #1fbb39;

.pie {
    width: 300px;
    height: 300px;
    display: block;
    position: relative;
    border-radius: 50%;
    background-color: $timer-color;
    border: 2px solid $timer-color;
    float: left;
    margin: 2em;

    .block {
        position: absolute;
        background: #fff;
        width: 230px;
        height: 230px;
        display: block;
        border-radius: 50%;
        top: 10px;
        left: 10px;
    }
}

#time {
    font-size: 3em;
    position: absolute;
    top: 35%;
    left: 43%;
    color: lighten(#000, 60%);
}

.degree {
    /*90 + ( 360 * .1 )*/
    background-image: linear-gradient(90deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}